.home {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.home__wrapper {
    margin-top: 20px;
}

.user__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.user__table th, .user__table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.user__table th {
    background-color: #f4f4f4;
}

.user__avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
